.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-main .slider-main-content {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-main .slider-main-content h1 {
  font-size: 18px;
  font-weight: 500;
}

.slider-main .slider-main-content .slider-main-text {
  font-size: 64px;
  position: relative;
  z-index: 1000000;
}

.slider-main .slider-main-content .slider-main-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.slider-main .slider-main-content .slider-main-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-main .slider-main-content .slider-main-buy .slider-main-price {
  font-size: 32px;
  color: #242424;
  font-weight: bold;
}

.slider-main .slider-main-content .slider-main-buy-2, .slider-main .slider-main-content .slider-main-buy-3, .slider-main .slider-main-content .slider-main-buy-4 {
  display: none;
}

.slider-main .slider-main-content .slider-main-images {
  position: relative;
}

.slider-main .slider-main-content .slider-main-img {
  background: url("../img-shop/printers/back-slide-printer-x-pro.png") center center/contain no-repeat;
  padding: 300px;
}

.slider-main .slider-main-content .slider-main-back-logo {
  position: absolute;
  padding: 350px;
  top: -70px;
  left: -370px;
  z-index: -1;
}

.x-b {
  background: url("../img-shop/logos/x-b.svg") center center/contain no-repeat;
  padding: 20px;
}

.xl-b {
  background: url("../img-shop/logos/xl-b.svg") center center/contain no-repeat;
  padding: 30px;
}

.x-pro-b {
  background: url("../img-shop/logos/x-pro-b.svg") center center/contain no-repeat;
  padding: 40px;
}

.xl-pro-b {
  background: url("../img-shop/logos/xl-pro-b.svg") center center/contain no-repeat;
  padding: 50px;
}

.printers-main {
  margin-top: 100px;
}

.printers-main .printer-name {
  font-size: 50px;
  color: #08e8de;
  letter-spacing: 15px;
}

.printers-main p {
  margin-top: 30px;
}

.printers-main .main-button {
  margin-left: 0;
}

.printers-main .printer-block {
  margin-top: 200px;
}

.printers-main .printer-block:last-child {
  margin-bottom: 200px;
}

.printers-main .printer-image {
  padding: 200px;
}

.printers-main .printer-image-1 {
  background: url("../img-shop/printers/designer_x.png") center center/contain no-repeat;
}

.printers-main .printer-image-2 {
  background: url("../img-shop/printers/back-slide-printer-x.png") center center/contain no-repeat;
}

.printers-main .printer-image-3 {
  background: url("../img-shop/printers/back-slide-printer-x-pro.png") center center/contain no-repeat;
}

.printers-main .more-info-button {
  cursor: pointer;
  position: relative;
}

.printers-main .more-info-button::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  right: -70px;
  margin: auto;
  top: 0;
  bottom: 0;
  background: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.printers-main .more-info-button:hover::before {
  width: 100px;
  right: -110px;
}

.printers-main .printer-price {
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 80px;
}

.mt {
  margin-top: 50px;
}

.contact-main {
  margin: 70px 0;
}

.contact-main .contact-logo {
  background: url("../img-shop/icons/3d-ico-14.svg") center center/contain no-repeat;
  padding: 50px;
  display: inline-block;
  margin-bottom: 50px;
}

.contact-main p {
  font-size: 16px;
  font-family: "CoreSansN45Regular";
}

.contact-main input {
  font-family: "CoreSansN45Regular";
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 10px 10px 10px 40px;
  position: relative;
  -webkit-transition: .1s;
  transition: .1s;
  outline: none;
  margin: 10px 0;
}

.contact-main input:hover, .contact-main input:active, .contact-main input:focus {
  background: #e9e9e9;
}

.contact-main label {
  position: relative;
  width: 100%;
}

.man-icon {
  background: url("../img-shop/man.svg") center center/contain no-repeat;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.phone-icon {
  background: url("../img-shop/telephone.svg") center center/contain no-repeat;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.email-icon {
  background: url("../img-shop/mail.svg") center center/contain no-repeat;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.message-icon {
  background: url("../img-shop/vopros.svg") center center/contain no-repeat;
  padding: 10px;
  position: absolute;
  left: 10px;
  top: 20px;
}

.form-name {
  position: relative;
}

.form-name::before {
  content: "";
  background: url("../img-shop/man.svg") center center/contain no-repeat;
  padding: 50px;
  position: absolute;
  right: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 50px;
}

.left-form {
  max-width: 500px;
  margin: 0 20px;
}

.right-form {
  width: 100%;
}

textarea {
  font-family: "CoreSansN45Regular";
  border: 1px solid grey;
  width: 100%;
  min-height: 195px;
  max-height: 195px;
  padding: 10px 10px 10px 40px;
  position: relative;
  -webkit-transition: .1s;
  transition: .1s;
  outline: none;
  margin: 4px 0;
}

textarea:hover, textarea:active, textarea:focus {
  background: #e9e9e9;
}

.captcha-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.captcha-form p {
  margin: 0 5px;
}

.captcha-form input {
  width: 100px;
  padding: 5px;
  border: 1px solid grey;
}

.form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.form-buttons .form-submit {
  padding: 0;
  background: #08e8de;
  color: #fff;
  font-family: "CoreSansNRW01-55Medium";
  text-align: center;
  border: none;
  text-transform: uppercase;
}

.form-buttons .form-submit:hover {
  background: #0fd6cc;
}

.form-buttons .form-files {
  margin-left: 10px;
  font-family: "CoreSansNRW01-55Medium";
  padding: 10px;
  border: none;
  text-align: center;
  color: #464646;
  text-transform: uppercase;
}

.popup {
  background: rgba(94, 94, 94, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
}

.popup .popup-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-order {
  display: none;
}

.order-popup-block {
  width: 400px;
  min-height: 400px;
  background: #fff;
  padding: 30px;
  position: relative;
  text-align: center;
}

.order-popup-block::before {
  content: "";
  position: absolute;
  background: url("../img-shop/mail2.svg") center center/contain no-repeat;
  padding: 15px;
  left: 25px;
  top: 25px;
}

h4 {
  color: #08e8de;
  font-size: 20px;
}

.form-files-popup {
  position: relative;
  cursor: pointer;
}

.form-files-popup::before {
  content: "";
  position: absolute;
  left: 0;
  right: -20px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  padding: 15px;
  margin: auto;
  background: url("../img-shop/paper-clips.svg") center center/contain no-repeat;
  z-index: 15;
  top: 0;
  bottom: 5px;
}

.close-popup {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  padding: 30px;
}

.close-popup .close-popup-stick-1 {
  width: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 2px;
  position: absolute;
  background: #000;
}

.close-popup .close-popup-stick-2 {
  width: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  height: 2px;
  background: #000;
}

.animRight {
  -webkit-animation: fadeInRight 2s;
          animation: fadeInRight 2s;
}

.animLeft {
  -webkit-animation: fadeInLeft 1s;
          animation: fadeInLeft 1s;
}

.dl1 {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.dl2 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.dl3 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.slider-main-text-2, .slider-main-text-3, .slider-main-text-4 {
  display: none;
}

.slider-main-images-2, .slider-main-images-3, .slider-main-images-4 {
  display: none;
}

.svg-1 {
  cursor: pointer;
  fill: #666;
  fill-rule: evenodd;
  -webkit-transition: .2s;
  transition: .2s;
}

.svg-1:hover {
  fill: #08e8de;
}

.fillBlue {
  fill: #08e8de;
}

.db {
  display: block;
}

.dn {
  display: none;
}
/*# sourceMappingURL=david.css.map */