.slider-main {
    .slider-main-content {
        margin-top: 200px;
        display: flex;
        align-items: center;
        h1 {
            font-size: 18px;
            font-weight: 500;
        }
        .slider-main-text {
            font-size: 64px;
        }
        .slider-main-logos {
            display: flex;
            justify-content: space-between;
            margin: 40px 0;
        }
        .slider-main-buy {
            display: flex;
            align-items: center;
            .slider-main-price {
                font-size: 32px;
                color: #242424;
                font-weight: bold;
            }
            
        }
        .slider-main-img {
            background: url('../img-shop/printers/back-slide-printer-x-pro.png') center center / contain no-repeat;
            padding: 300px;
        }
    }
}

.x-b {
    background: url('../img-shop/logos/x-b.svg') center center / contain no-repeat;
    padding: 20px;        
}
.xl-b {
    background: url('../img-shop/logos/xl-b.svg') center center / contain no-repeat;          
    padding: 30px;   
}
.x-pro-b {
    background: url('../img-shop/logos/x-pro-b.svg') center center / contain no-repeat;       
    padding: 40px;      
}
.xl-pro-b {
    background: url('../img-shop/logos/xl-pro-b.svg') center center / contain no-repeat;   
    padding: 50px;          
}
