@font-face {
    font-family: "CoreSansNRW01-55Medium";
    src: url("../fonts-shop/CORESANSNR55MEDIUM-WEBFONT.TTF");
}
  
@font-face {
    font-family: "CoreSansNRW01-55Regular";
    src: url("../fonts-shop/CORESANSNR55REGULAR-WEBFONT.TTF");
}
@font-face {
    font-family: "CoreSansN25ExtraLight";
    src: url("../fonts-shop/CoreSansN25ExtraLight.TTF");
}

@font-face {
    font-family: "CoreSansN35Light";
    src: url("../fonts-shop/CoreSansN35Light.TTF");
}
@font-face {
    font-family: "CoreSansN45Regular";
    src: url("../fonts-shop/CoreSansN45Regular.TTF");
}

* {
    font-family: "CoreSansNRW01-55Medium";
    margin: 0;
    padding: 0;
    border: 0;
}

$blue: #08e8de;

.main-button {
    background: $blue;
    height: 35px;
    color: white;
    cursor: pointer;
    padding: 0 50px;
    line-height: 35px;
    margin: 0 60px;
    transition: .2s;
    &:hover {
        background: #0fd6cc;
    }
}

.zi100 {
    z-index: 100;
}


$blue: #08e8de;
.flex {
    display: flex;
}
.aic {
    align-items: center;
}
.slider-main {
    .slider-main-content {
        margin-top: 100px;
        display: flex;
        align-items: center;
        h1 {
            font-size: 18px;
            font-weight: 500;
        }
        .slider-main-text {
            font-size: 64px;
            position: relative;
            z-index: 1000000;
        }
        .slider-main-logos {
            display: flex;
            justify-content: space-between;
            margin: 40px 0;
            align-items: flex-start;
        }
        .slider-main-buy {
            display: flex;
            align-items: center;
            .slider-main-price {
                font-size: 32px;
                color: #242424;
                font-weight: bold;
            }
        }
        .slider-main-buy-2, .slider-main-buy-3, .slider-main-buy-4 {
            display: none;
        }
        .slider-main-images {
            position: relative;
        }
        .slider-main-img {
            background: url('../img-shop/printers/back-slide-printer-x-pro.png') center center / contain no-repeat;
            padding: 300px;
        }
        .slider-main-back-logo {
            position: absolute;
            padding: 350px;
            top: -70px;
            left: -370px;
            z-index: -1;
        }
    }
}

.x-b {
    background: url('../img-shop/logos/x-b.svg') center center / contain no-repeat;
    padding: 20px;        
}
.xl-b {
    background: url('../img-shop/logos/xl-b.svg') center center / contain no-repeat;          
    padding: 30px;   
}
.x-pro-b {
    background: url('../img-shop/logos/x-pro-b.svg') center center / contain no-repeat;       
    padding: 40px;      
}
.xl-pro-b {
    background: url('../img-shop/logos/xl-pro-b.svg') center center / contain no-repeat;   
    padding: 50px;          
}

.printers-main {
    margin-top: 100px;
    .printer-name {
        font-size: 50px;
        color: $blue;
        letter-spacing: 15px;
    }
    p {
        margin-top: 30px;
    }
    .main-button {
        margin-left: 0;
    }
    .printer-block {
        margin-top: 200px;
    }
    .printer-block:last-child {
        margin-bottom: 200px;
    }
    .printer-image {
        padding: 200px;
    }
    .printer-image-1 {
        background: url('../img-shop/printers/back-slide-printer-x.png') center center / contain no-repeat;
    }
    .printer-image-2 {
        background: url('../img-shop/printers/back-slide-printer-xl.png') center center / contain no-repeat;
    }
    .printer-image-3 {
        background: url('../img-shop/printers/back-slide-printer-x-pro.png') center center / contain no-repeat;
    }
    .more-info-button {
        cursor: pointer;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 60px;
            height: 1px;
            right: -70px;
            margin: auto;
            top: 0;
            bottom: 0;
            background: #000;
            transition: .2s;
        }
        &:hover::before {
            width: 100px;
            right: -110px;
        }
    }
    .printer-price {
        text-align: right;
        font-size: 30px;
        font-weight: bold;
        padding: 20px 80px;
    }
}
.mt {
    margin-top: 50px;
}

.shop-form {
    input {
        font-family: "CoreSansN45Regular";
        border-bottom: 1px solid grey;
        width: 100%;
        background: #f7f7f7;
        padding: 10px 10px 10px 40px;
        position: relative;
        transition: .1s;
        outline: none;
        margin: 10px 0;
        &:hover, &:active, &:focus {
            background: #e9e9e9;
        }
    }
}
.contact-main {
    margin: 70px 0;
    .contact-logo {
        background: url('../img-shop/icons/3d-ico-14.svg') center center / contain no-repeat;
        padding: 50px;
        display: inline-block;
        margin-bottom: 50px;
    }
    p {
        font-size: 16px;
        font-family: "CoreSansN45Regular";

    }
    input {
        font-family: "CoreSansN45Regular";
        border-bottom: 1px solid grey;
        width: 100%;
        padding: 10px 10px 10px 40px;
        position: relative;
        transition: .1s;
        outline: none;
        margin: 10px 0;
        &:hover, &:active, &:focus {
            background: #e9e9e9;
        }
    }
    label {
        position: relative;
        width: 100%;
    }
}
.man-icon {
    background: url('../img-shop/man.svg') center center / contain no-repeat;
    padding: 10px; 
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.phone-icon {
    background: url('../img-shop/telephone.svg') center center / contain no-repeat;
    padding: 10px; 
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.email-icon {
    background: url('../img-shop/mail.svg') center center / contain no-repeat;
    padding: 10px; 
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.message-icon {
    background: url('../img-shop/vopros.svg') center center / contain no-repeat;
    padding: 10px; 
    position: absolute;
    left: 10px;
    top: 20px;
}
.form-name {
    position: relative;
    &::before {
        content: "";
        background: url('../img-shop/man.svg') center center / contain no-repeat;
        padding: 50px; 
        position: absolute;
        right: 0;
    }

}
h3 {
     text-transform: uppercase;
     font-size: 40px;
     margin-bottom: 50px;   
     
}
.left-form {
    max-width: 500px;
    margin: 0 20px;
}
.right-form {
    width: 100%;
}

textarea {
    font-family: "CoreSansN45Regular";
    border: 1px solid grey;
    width: 100%;
    min-height: 195px;
    max-height: 195px;
    padding: 10px 10px 10px 40px;
    position: relative;
    transition: .1s;
    outline: none;
    margin: 4px 0;
    &:hover, &:active, &:focus {
        background: #e9e9e9;
    }
}
.captcha-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
        margin: 0 5px;
    }
    input {
        width: 100px;
        padding: 5px;
        border: 1px solid grey;
    }
}
.form-buttons {
    display: flex;
    text-align: center;

    .form-submit {
        padding: 0;
        background: $blue;
        color: #fff;
        font-family: "CoreSansNRW01-55Medium";

        text-align: center;
        border: none;
        text-transform: uppercase;
        &:hover {
            background: #0fd6cc;
        }
    }
    .form-files {
        margin-left: 10px;
        font-family: "CoreSansNRW01-55Medium";

        padding: 10px;
        border: none;
        text-align: center;
        color: rgb(70, 70, 70);
        text-transform: uppercase;
    }
}

.popup {
    background: rgba(94, 94, 94, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    .popup-area {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
}
.popup-order {
    display: none;
}
.order-popup-block {
    width: 400px;
    min-height: 400px;
    background: #fff;
    padding: 30px;
    position: relative;
    text-align: center;
    &::before {
        content: "";
        position: absolute;
        background: url('../img-shop/mail2.svg') center center / contain no-repeat;
        padding: 15px;
        left: 25px;
        top: 25px;
    }
}
h4 {
    color: $blue;
    font-size: 20px;
}

.form-files-popup {
    position: relative;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: -20px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        padding: 15px;
        margin: auto; 
        background: url('../img-shop/paper-clips.svg') center center / contain no-repeat;
        // padding: 10px;
        z-index: 15;
        top: 0;
        bottom: 5px;    
    }
}
.close-popup {
    position: absolute;
    right: 20px;
    top: 10px;
    // background: #000;
    cursor: pointer;
    width: 10px;
    height: 10px;
    padding: 30px;

    .close-popup-stick-1 {
        width: 30px;
        transform: rotate(-45deg);
        height: 2px;
        position: absolute;
        background: #000;
    }
    .close-popup-stick-2 {
        width: 30px;
        transform: rotate(45deg);
        position: absolute;
        height: 2px;
        background: #000;
    }
}

.animRight {
    animation: fadeInRight 2s;
}
.animLeft {
    animation: fadeInLeft 1s;
}


.dl1 {
    animation-delay: .1s;
}
.dl2 {
    animation-delay: .5s;
}
.dl3 {
    animation-delay: .8s;
}

.slider-main-text-2, .slider-main-text-3, .slider-main-text-4 {
    display: none;
}
.slider-main-images-2, .slider-main-images-3, .slider-main-images-4 {
    display: none;
}

.svg-1 {
    cursor: pointer;
    fill: #666;
    fill-rule: evenodd;
    transition: .2s;
    &:hover {
        fill: $blue;
    }
}

.fillBlue {
    fill: $blue;
}
.db {
    display: block;
}
.dn {
    display: none;
}

@font-face {
    font-family: "CoreSansN45Regular";
    src: url("../fonts-shop/CoreSansN45Regular.TTF");
}

.product-icon {
    text-align: center;
    margin: 10px;
    font-family: "CoreSansN45Regular";
    p {
        font-family: "CoreSansN45Regular";
        margin: 15px 0;
    }
}
.product-icon:first-child {
    margin-left: 0;
}

.product-icon-logo {
    padding: 35px;
}

.logo-first {
    background: url('../img-shop/icons/3d-ico-2.svg') center center / contain no-repeat;
}
.logo-sec {
    background: url('../img-shop/icons/3d-ico-10.svg') center center / contain no-repeat;
}
.logo-third {
    background: url('../img-shop/icons/3d-ico-3.svg') center center / contain no-repeat;
}
.logo-fourth {
    background: url('../img-shop/icons/3d-ico-8.svg') center center / contain no-repeat;
}

.map-main {
    position: relative;
}
.map-info {
    background: #f7f7f7;
    box-shadow: 5px 6px 20px 0px #00000038;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 300px;
    width: 400px;
    padding: 40px 30px;
    height: 300px;
    h2 {
        font-size: 40px;
        text-transform: uppercase;
    }
}

.tdn {
    text-decoration: none;
    color: unset;
    &:hover {
        text-decoration: none;
        color: unset;
    }
}
.slider-main-images-mob {
    display: none;
}
.slider-main-logos-mob {
    display: none;
}


.popup-gallery {
    display: none;
}

.printers-mob {
    display: none;
}
.clients-main-logos-mob {
    display: none;
}
.form-mob {
    display: none;
}
.mob-header {
    display: none;
}
.gallery-mob {
    display: none;
}
@media (max-width: 991px) {
    .header_content {
        position: relative;
        z-index: 5000;
    }
    .gallery-mob {
        display: block;
    }
    .header_menu_mob {
        display: none;
        z-index: 5000;
        position: absolute;
        padding: 100px 0;
        top: 0;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        a {
            display: block;
            color: #fff;
        }
    }
    .pc-header {
        display: none;
    }
    .burger-mob {
        position: relative;
        margin: 0 10px;
        .burger-stick-1 {
            width: 30px;
            height: 1px;
            background: lightgrey;
        }
        .burger-stick-2 {
            width: 30px;
            margin: 5px 0;
            height: 1px;
            background: lightgrey;
        }
        .burger-stick-3 {
            width: 30px;
            height: 1px;
            background: lightgrey;
        }
    }
    header .container .header-content {
        justify-content: center !important;
    }
    .mob-header {
        display: block;
    }
    footer .container .footer_blocks .footer_block .footer_logo {
        margin: 10px auto !important;
    }
    footer .container .footer_blocks .footer_block .footer_social {
        justify-content: center;
    }
    .footer_blocks {
        text-align: center;
    }
    .form-pc {
        display: none;
    }
    .form-mob {
        display: block;
    }
    .clients-main-logos-pc {
        display: none;
    }
    .clients-main-logos-mob {
        display: block;
    }
    .printers-pc {
        display: none;
    }
    .printers-mob {
        display: block;
        .printer-name {
            font-size: 24px;
            text-align: center;
        }
        .printer-block {
            margin: 0;
            margin-bottom: 0 !important;
            display: flex;
            justify-content: center;
        }
    }
    .slider-main-images {
        display: none;
    }   
    .slider-main-logos-mob {
        display: flex;
        justify-content: center;
    }
    .slider-main-images-mob {
        display: block;
    }
    .slider-main-logos {
        display: none !important;
    }
    .slider-main-price {
        display: none;
    }
    .slider-main .slider-main-content .slider-main-img {
        padding: 150px;
    }
    .slider-main-images-mob-2, .slider-main-images-mob-3, .slider-main-images-mob-4 {
        display: none;
    }
    .slider-main-content {
        justify-content: center;
    }
    .slider-main .slider-main-content .slider-main-text {
        font-size: 30px;
    }
    .main-button {
        height: unset;
        padding: 10px 100px;
        margin: 20px auto;
    }
    .svg-1 {
        margin: 20px 10px;
        // width: 50px;
        // height: 50px;
    }
    .slider-main .slider-main-content .slider-main-buy {
        justify-content: center;
    }
    .examples-main .container .examples-main-desc h2 {
        text-align: center;
        font-size: 24px !important;
    }
    .examples-main-icon {
        display: none !important;
    }
    .examples-main {
        padding: 40px 0 !important;
    }
    .examples-main .container .examples-main-desc p {
        font-size: 14px !important;
    }
    .examples-main-photos {
        display: none;
    }
    .examples-main-photos-mob {
        .examples-main-photo-mob {
            width: 550px;
            height: 380px;
        }
        .examples-shop-first {
            color: grey;
            padding: 20px 0px;
            h4 {
                color: $blue;
                text-transform: uppercase;
            }
            .examples-shop-button {
                background: #08e8de;
                height: 40px;
                width: 200px;
                color: white;
                cursor: pointer;
                line-height: 40px;
                text-transform: uppercase;
                text-align: center;
                transition: 0.2s;
            }
        }
        .examples-main-photo-desc {
            color: lightgrey;
            font-size: 16px;                    
            padding: 15px;
        }
        .first-photo {
            background: url('../img-shop/examples/primer-1.jpg') center center / contain no-repeat;
        }
        .second-photo {
            background: url('../img-shop/examples/primer-3.jpg') center center / contain no-repeat;
        }
        .third-photo {
            background: url('../img-shop/examples/primer-2.jpg') center center / contain no-repeat;
        }
        .fourth-photo {
            background: url('../img-shop/examples/primer-4.jpg') center center / contain no-repeat;
        }
    }
    .popup-gallery {
        display: block;
        img {
            max-width: 100%;   
        }
    }
    
    .printers-main .printer-image {
        padding: 100px;
    }
    .printers-pc {
        display: none;
    }
}

@media (max-width: 320px) {
    .slider-main .slider-main-content .slider-main-img {
        padding: 130px;
    }
}

.jcc {
    justify-content: center;
}
