@font-face {
    font-family: "CoreSansNRW01-55Medium";
    src: url("../fonts-shop/CORESANSNR55MEDIUM-WEBFONT.TTF");
}
  
@font-face {
    font-family: "CoreSansNRW01-55Regular";
    src: url("../fonts-shop/CORESANSNR55REGULAR-WEBFONT.TTF");
}
@font-face {
    font-family: "CoreSansN25ExtraLight";
    src: url("../fonts-shop/CoreSansN25ExtraLight.TTF");
}

@font-face {
    font-family: "CoreSansN35Light";
    src: url("../fonts-shop/CoreSansN35Light.TTF");
}
@font-face {
    font-family: "CoreSansN45Regular";
    src: url("../fonts-shop/CoreSansN45Regular.TTF");
}

* {
    font-family: "CoreSansNRW01-55Medium";
    margin: 0;
    padding: 0;
    border: 0;
}

$blue: #08e8de;

.main-button {
    background: $blue;
    height: 35px;
    color: white;
    cursor: pointer;
    padding: 0 50px;
    line-height: 35px;
    margin: 0 60px;
    transition: .2s;
    &:hover {
        background: #0fd6cc;
    }
}