header {
  background-color: black;
}

header .container .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  line-height: 70px;
}

header .container .header-content .header_logo {
  display: block;
  background: url("../img-shop/logo.png") no-repeat;
  padding: 10px;
  width: 155px;
}

header .container .header-content .header_city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header-content .header_city .header_map_icon {
  background: url("../img-shop/header/placeholder.svg") no-repeat;
  display: inline-block;
  padding: 11px;
  position: relative;
  top: -3px;
}

header .container .header-content .header_city a {
  color: #bcbcbc;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

header .container .header-content .header_menu a {
  color: #bcbcbc;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 5px;
}

header .container .header-content .header_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header-content .header_phone a {
  color: #bcbcbc;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

header .container .header-content .header_phone .header_phone_icon {
  display: inline;
  padding: 11px;
  position: relative;
  right: -10px;
  cursor: pointer;
  background: url("../img-shop/header/mail3-menu.svg") no-repeat;
}

.examples-main {
  background-color: #f7f7f7;
  padding: 70px 0px;
}

.examples-main .container .examples-main-desc .examples-main-icon {
  display: inline-block;
  padding: 50px;
  background: url("../img-shop/icons/3d-ico-1.svg") center center/contain no-repeat;
}

.examples-main .container .examples-main-desc h2 {
  color: #242424;
  font-size: 40px;
  text-transform: uppercase;
  padding: 25px 0px;
}

.examples-main .container .examples-main-desc .centered {
  text-align: center;
}

.examples-main .container .examples-main-desc p {
  color: #666666;
  font-size: 18px;
}

.examples-main .container .examples-main-desc .examples-main-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.examples-main .container .examples-main-desc .examples-main-button-container .examples-main-button {
  background: #08e8de;
  height: 40px;
  width: 240px;
  color: white;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  margin: 10px 0px 40px 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.examples-main .container .examples-main-photos .examples-main-photo {
  margin: 5px 10px;
  width: 550px;
  height: 380px;
}

.examples-main .container .examples-main-photos .examples-shop-first {
  color: #666666;
  padding: 20px 0px;
}

.examples-main .container .examples-main-photos .examples-shop-first h4 {
  color: #08e8de;
  text-transform: uppercase;
}

.examples-main .container .examples-main-photos .examples-shop-first .examples-shop-button {
  background: #08e8de;
  height: 40px;
  width: 200px;
  color: white;
  cursor: pointer;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.examples-main .container .examples-main-photos .examples-main-photo-desc {
  color: #f7f7f7;
  font-size: 16px;
  padding: 15px;
}

.examples-main .container .examples-main-photos .first-photo {
  background: url("../img-shop/examples/primer-1.jpg") center center/contain no-repeat;
}

.examples-main .container .examples-main-photos .second-photo {
  background: url("../img-shop/examples/primer-3.jpg") center center/contain no-repeat;
}

.examples-main .container .examples-main-photos .third-photo {
  background: url("../img-shop/examples/primer-2.jpg") center center/contain no-repeat;
}

.examples-main .container .examples-main-photos .fourth-photo {
  background: url("../img-shop/examples/primer-4.jpg") center center/contain no-repeat;
}

.clients-main {
  background-color: #f7f7f7;
  padding: 70px 0px;
}

.clients-main .container h2 {
  color: #242424;
  font-size: 40px;
  text-transform: uppercase;
  padding: 50px 25px;
}

.clients-main .container .clients-main-logos {
  padding: 0px 50px 50px 50px;
}

.clients-main .container .clients-main-logos .clients-main-logo {
  margin: 5px 10px;
  width: 250px;
  height: 80px;
}

.clients-main .container .clients-main-logos .first-logo {
  background: url("../img-shop/clients/renault.png") center center/contain no-repeat;
}

.clients-main .container .clients-main-logos .second-logo {
  background: url("../img-shop/clients/ehrmann.png") center center/contain no-repeat;
}

.clients-main .container .clients-main-logos .third-logo {
  background: url("../img-shop/clients/rehau.png") center center/contain no-repeat;
}

.clients-main .container .clients-main-logos .fourth-logo {
  background: url("../img-shop/clients/samsung.png") center center/contain no-repeat;
}

footer {
  background: #242424;
}

footer .container {
  color: #666666;
}

footer .container .footer_copyright {
  text-align: center;
  padding: 25px 0px;
}

footer .container .footer_blocks {
  padding-top: 50px;
}

footer .container .footer_blocks .footer_block p {
  padding: 10px 5px;
  font-size: 15px;
}

footer .container .footer_blocks .footer_block .footer_title {
  padding: 10px 0px;
}

footer .container .footer_blocks .footer_block .last_title {
  margin-top: 10px;
}

footer .container .footer_blocks .footer_block .footer_link {
  text-decoration: none;
  color: #666666;
}

footer .container .footer_blocks .footer_block .footer_logo {
  display: block;
  background: url("../img-shop/logo-footer.png") center center/contain no-repeat;
  padding: 13px;
  width: 155px;
  margin: 10px 5px;
}

footer .container .footer_blocks .footer_block .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .footer_blocks .footer_block .footer_social .footer_social_logo {
  padding: 15px;
  margin: 5px;
  display: inline;
}

footer .container .footer_blocks .footer_block .footer_social .footer_social_inst {
  background: url("../img-shop/social/instagram.svg") center center/contain no-repeat;
}

footer .container .footer_blocks .footer_block .footer_social .footer_social_fb {
  background: url("../img-shop/social/facebook.svg") center center/contain no-repeat;
}

footer .container .footer_blocks .footer_block .footer_social .footer_social_vk {
  background: url("../img-shop/social/vk.svg") center center/contain no-repeat;
}

footer .container .footer_blocks .footer_block .footer_social .footer_social_twitter {
  background: url("../img-shop/social/twitter.svg") center center/contain no-repeat;
}

.control-shop {
  background: #f7f7f7;
}

.control-shop .container .control-shop-content .control-shop-text-block {
  margin: 50px 0px;
}

.control-shop .container .control-shop-content .control-shop-text-block .control-shop-icon {
  padding: 35px;
  display: inline;
  background: url("../img-shop/icons/3d-ico-13.svg") center center/contain no-repeat;
}

.control-shop .container .control-shop-content .control-shop-text-block h2 {
  color: #242424;
  font-size: 40px;
  text-transform: uppercase;
  padding: 50px 0px 30px 0px;
}

.control-shop .container .control-shop-content .control-shop-text-block p {
  color: #666666;
}

.control-shop .container .control-shop-content .control-shop-text-block .control-shop-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.control-shop .container .control-shop-content .control-shop-text-block .control-shop-button {
  width: calc(100%/4);
  height: 90px;
  text-align: center;
  border: 2px solid #08e8de;
  margin: 5px;
}

.control-shop .container .control-shop-content .control-shop-image-block .control-shop-image {
  padding: 300px;
  margin: 100px 0px;
  background: url("../img-shop/bgs/3dprinter-picaso-extruder.png") center center/contain no-repeat;
}
/*# sourceMappingURL=styles_new.css.map */