$grey: #bcbcbc;
$light_grey: #f7f7f7;
$black: #242424;
$dark-grey: #666666;
$blue: #08e8de;

header {
    background-color: black;
    .container {
        .header-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 70px;
            line-height: 70px;
            .header_logo {
                display: block;
                background: url('../img-shop/logo.png') no-repeat;
                padding: 10px;
                width: 155px;
            }
            .header_city {
                display: flex;
                align-items: center;
                .header_map_icon {
                    background: url('../img-shop/header/placeholder.svg') no-repeat;
                    display: inline-block;
                    padding: 11px;
                    position: relative;
                    top: -3px;
                }
                a {
                    color: $grey;
                    font-size: 16px;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
            .header_menu {
                a {
                    color: $grey;
                    font-size: 16px;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0px 5px;
                }
            }
            .header_phone {
                display: flex;
                align-items: center;
                a {
                    color: $grey;
                    font-size: 16px;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                .header_phone_icon {
                    display: inline;
                    padding: 11px;
                    position: relative;
                    right: -10px;
                    cursor: pointer;
                    background: url('../img-shop/header/mail3-menu.svg') no-repeat;
                }
            }
        }
    }

}

.examples-main {
    background-color: $light_grey;
    padding: 70px 0px;
    .container {
        .examples-main-desc {
            .examples-main-icon {
                display: inline-block;
                padding: 50px;
                background: url('../img-shop/icons/3d-ico-1.svg') center center / contain no-repeat;
            }
            h2 {
                color: $black;
                font-size: 40px;
                text-transform: uppercase;
                padding: 25px 0px;
            }
            .centered {
                text-align: center;
            }
            p {
                color: $dark-grey;
                font-size: 18px;
            }
            .examples-main-button-container {
                display: flex;
                justify-content: center;
                .examples-main-button {
                    background: #08e8de;
                    height: 40px;
                    width: 240px;
                    color: white;
                    cursor: pointer;
                    line-height: 40px;
                    text-align: center;
                    margin: 10px 0px 40px 0px;
                    transition: 0.2s;
                }
            } 
        }  
        .examples-main-photos {
            .examples-main-photo {
                margin: 5px 10px;
                width: 550px;
                height: 380px;
            }
            .examples-main-photo-desc {
                color: $light-grey;
                font-size: 16px;                    
                padding: 15px;
            }
            .first-photo {
                background: url('../img-shop/examples/primer-1.jpg') center center / contain no-repeat;
            }
            .second-photo {
                background: url('../img-shop/examples/primer-3.jpg') center center / contain no-repeat;
            }
            .third-photo {
                background: url('../img-shop/examples/primer-2.jpg') center center / contain no-repeat;
            }
            .fourth-photo {
                background: url('../img-shop/examples/primer-4.jpg') center center / contain no-repeat;
            }
        }
    }
}

.clients-main {
    background-color: $light_grey;
    padding: 70px 0px;
    .container {
        h2 {
            color: $black;
            font-size: 40px;
            text-transform: uppercase;
            padding: 50px 25px;
        }
        .clients-main-logos {
            padding: 0px 50px 50px 50px;
            .clients-main-logo {
                margin: 5px 10px;
                width: 250px;
                height: 80px;
            }
            .first-logo {
            background: url('../img-shop/clients/renault.png') center center / contain no-repeat;
            }
            .second-logo {
            background: url('../img-shop/clients/ehrmann.png') center center / contain no-repeat;
            }
            .third-logo {
            background: url('../img-shop/clients/rehau.png') center center / contain no-repeat;
            }
            .fourth-logo {
            background: url('../img-shop/clients/samsung.png') center center / contain no-repeat;
            }
        }
    }
  }

footer {
    background: $black;
    .container {
        .footer_copyright {
            color: $light-grey;
            text-align: center;
            padding: 25px 0px;
        }
        .footer_blocks {
            padding-top: 50px;
            .footer_block {
                p {
                    color: $light_grey;
                    padding: 10px 5px;
                    font-size: 15px;
                }
                .footer_title {
                    padding: 10px 0px;
                    color: $light_grey;
                }
                .last_title {
                    margin-top: 10px;
                }
                .footer_link {
                    text-decoration: none;
                    color: $light_grey;
                }
                .footer_logo {
                    display: block;
                    background: url('../img-shop/logo.png') center center / contain no-repeat;
                    padding: 15px;
                    width: 155px;
                    margin: 10px 5px;
                }
                .footer_social {
                    display: flex;
                    .footer_social_logo {
                        padding: 15px;
                        margin: 5px;
                        display: inline;
                    }
                    .footer_social_inst {
                        background: url('../img-shop/social/instagram.svg') center center / contain no-repeat;
                    }
                    .footer_social_fb {
                        background: url('../img-shop/social/facebook.svg') center center / contain no-repeat;
                    }
                    .footer_social_vk {
                        background: url('../img-shop/social/vk.svg') center center / contain no-repeat;
                    }
                    .footer_social_twitter {
                        background: url('../img-shop/social/twitter.svg') center center / contain no-repeat;
                    }
                }
            }
        }
    }
}

.control-shop {
    background: $light-grey;
    .container {
        .control-shop-content {
            .control-shop-text-block {
                margin: 50px 0px;
                .control-shop-icon {
                    padding: 35px;
                    display: inline;
                    background: url('../img-shop/icons/3d-ico-13.svg') center center / contain no-repeat;
                }
                h2 {
                    color: $black;
                    font-size: 40px;
                    text-transform: uppercase;
                    padding: 50px 0px 30px 0px;
                }
                p {
                    color: $dark-grey;
                }
                .control-shop-buttons {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    box-sizing: border-box;
                }
                .control-shop-button {
                    width: calc(100%/4);
                    height: 90px;
                    text-align: center;
                    border: 2px solid $blue;
                    margin: 5px;
                }
            }
            .control-shop-image-block {
                .control-shop-image {
                    padding: 300px;
                    margin: 100px 0px;
                    background: url('../img-shop/bgs/3dprinter-picaso-extruder.png') center center / contain no-repeat;
                }
            }
        }
    }
    

}